*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/xps-dpbXgTh0Lac-unsplash\ \(1\).jpg) repeat-y fixed;
}

header{
    background: url(../images/xps-dpbXgTh0Lac-unsplash\ \(1\).jpg);
    overflow: hidden;
    text-align: center;
}

nav{
    display: flex;
    background: #ccc;
}
main{
    padding-top: 200px;
    background: #ffffff;
}
footer{
    padding-top: 250px;
}