body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url(../images/backgourdImage.jpg) no-repeat fixed;
  direction: rtl;
  /* position: absolute; */
  font-family: "Mizra", cursive;
}

header {
  background: url(../images/backgourdImage.jpg);
  /* overflow: hidden; */
  height: 50px;
  text-align: left;
  padding: 20px;
  color: #050505;
}

.navbar {
  background-color: #333;
}

.container {
  max-width: 1100px;
  /* margin: 0 auto; */
}

/* header {
  background: #ccc;
  overflow: hidden;
  height: 20vh;
  text-align: left;
  padding: 30px;
  color: #050505;
} */

.navbar {
  background-color: #333;
}
.container {
  max-width: 1100px;
  margin: 0;
}
nav {
  display: flex;
  /* background: #333; */
  position: sticky;
  top: 0;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

nav li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

main {
  /* width: 100px; */
  display: flex;
  /* flex-wrap: wrap; */
  /* flex: 1; */
}

.sideBar {
  padding: 10px;
  flex: 1;
  /* font-size: 14px; */
  /* height: 100vh; */
  background-color: #c9dac8;
  border-left: 2px solid #ffffff;
}

.sideBar form {
  margin: 10px;
}
/* .sideBar ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
} */

/* .sideBar ul li a {
  text-decoration: none;
  color: white;
  padding: 16px 8px;
  border-bottom: 1px solid white;
}

.sideBar ul,
.sideBar li,
.sideBar {
  padding: 0;
  margin: 0;
}

.sideBar ul li a:hover {
  background-color: #333;
  font-size: large;
} */

aside {
  flex: 1;
  background-color: #ffffff;
  padding: 10px;
}

article {
  flex: 5;
  background-color: #f1f1f1;
  padding: 10px;
}

section {
  padding: 10px;
  margin: auto 0;
  flex: 1;
  min-height: 100px;
  /* font-size: 14px; */
  /* height: 100vh; */
  background-color: #c9dac8;
  border-left: 2px solid #ffffff;
  justify-content: center;
  text-align: center;
}

footer {
  margin: 0;
  /* padding-top: 100px; */
  justify-content: center;
  text-align: center;
  /* background-color: #c9dac8; */
}

/* .after {
  height: 400px;
} */
/* section {
  display: flex;
  max-width: 1000px;
  min-height: 200px;
} */
.circle-content {
  /* margin: 10px 50px; */
  padding: 10px;
  width: 300px;
  /* float: right; */
  border-radius: 300px;
  border: 1px solid #333;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  background: linear-gradient(120deg, #c877e0, rgb(133, 112, 211));
  cursor: pointer;
  /* transform: translateY(200px);
  transition: all 1s ease; */
}

.hcj-content {
  z-index: -1;
  width: 400px;
  /* margin: 10px; */
  padding: 10px;
  background: linear-gradient(120deg, #c877e0, #8570d3);
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 100px;
  right: 100px;
  /* transition: all 0.5s ease; */
}

.appear {
  /* display: block; */
  opacity: 1;
  transform: translateX(100px) translateY(300px);
  transition: all 1s ease;
}

.colum {
  flex: 20%;
  z-index: 0;
}

/* code for hidden part of the first parargraphe */

.hidden-part {
  display: none;
}
.show {
  display: block;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(#4e90bd, #cf3db7);
    /* max-width: 600px; */
  }
  main {
    display: block;
  }
}
